<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>{% block title %} Home{% endblock%}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <!-- CSS Files -->
  <link href="{% static 'admin/css/demo.css' %}" rel="stylesheet" />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">


  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'> 
  <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Cabin Sketch' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Quattrocento Sans' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>  
  <link href="{% static 'admin/css/material-dashboard.css'%}" rel="stylesheet" />
  <link href="{% static 'admin/css/eclipse.css'%}" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <div class="wrapper ">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{% static 'admin/js/codeTest.js' %}"></script>
</head>
 <style type="text/css">
    #navbar20{      
     background: black;
      }
    #fonts-for-all {
    font-family: 'Quattrocento Sans';font-size: 22px;
      }
    #font-sheet-header{
     font-family: 'Cabin Sketch';
     font-size: 50px;
     font-weight: bolder;
  }
  </style>
<body class="fonts-for-all"> 
  {% block content %}
  {% endblock %}
  
</body>
</html>