{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="wrapper ">
  {% include 'Nitor/sidebar.html' %}
  {% include 'Nitor/navbar.html'  %}
  <div class="main-panel">    	
   <div class="content">           
    <div class="container-fluid">
      <form action="" method="POST"  novalidate="true"> 
        {% csrf_token %}    
        <div class="row">
          <div class="col-md-12">
            <select  id='qtype' class="form-control form-control-lg browser-default custom-select" onchange="showQuestionFormFrame()" name='qtype'>
              <option disabled="true" selected="true">Select question type here</option>
              <option value="mcq" {%if current == 'mcq'%}selected="true"{%endif%}>Multiple choice question</option>
              <option value="ct" {%if current == 'ct'%}selected="true"{%endif%}>Coding test</option>
              <option value="tha">Theoretical assignments</option>
            </select>              
          </div>
        </div>
        <!-- *************************Interface for coding test**************************** -->
        <!--****************************** Interface for mcq ******************************-->
        <iframe src="/mcqForm" id='formFrame' width="100%" height="900px"></iframe>
      </form>
    </div>         
  </div>
</div>
</div> 
<script type="text/javascript">
  
  function changeCurrent(){
    console.log("{{current}}")
    {{current}} = 'hi'
    console.log('{{current}}')
  }
</script>


{% endblock %}
