{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper ">
	<form>
		{% csrf_token %}
    {% include 'Nitor/sidebar.html' %}
    {% include 'Nitor/navbar.html'  %}
    <div class="main-panel">    	
    	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Instructions</h4>
                </div>
                <div class="card-body">
                  <div class="jumbotron">
                    <div class="lead">
                    	<div class="lead">
                    		<h2>This exam contains two section</h2>
                    	</div>                    	
                    	<br>
                    	<h4>Section 1 <h6>contains multiple choice questions in which each queation have four choices, one of them which will be the correct answer. For each correct attempt 4 marks will be scored and for each incorrect attempt 1 mark will be dedeuct. </h6></h4> 
                    	<br>
                    	<h4>Section 2 <h6>contains coding round in which two problem statements with proper instructins has been given and you need to solve for both of them. </h6></h4>  
                    </div>
                  </div> 
                  <div class="lead">
                    <h5><b>
                     *Their is maximum time alloted for each section. for that you need to complete that section within that time limit.
                   </b></h5>
                 </div>                 
               </div>
             </div>
           </div>
           
         </div>
       </div>
     </div>
   </div>
 </form>
 
 {% endblock %}
 