{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<style type="text/css">
  strong{
    font-size: 16px;
    font-weight: bolder;
  }

</style>

    {% include 'Nitor/sidebar.html' %}
    <div class="main-panel">
    	{% include 'Nitor/navbar.html'  %}
    	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10" id='id_questions'>
              <div class="card" style="width: 120%">
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 text-center" style="padding-top: 20px;">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title"><u>Create Test</u></h4>
                      </div>   
                    </div>
                    <div class="col-md-12">
                      {% for message in messages %}
                       <strong>{{message}}</strong>
                      {% endfor %}
                    </div>     
                    <div class="col-md-12" style="padding-top: 20px;">
                      {{form.title_qp|as_crispy_field}}
                       
                    </div>            
                    <div class="col-md-12">
                      {{form.totalquestions|as_crispy_field}}
                    </div>
                    
                      
                     <!-- <div class="col-md-12 text-center">
                       <input type="checkbox" name="" checked="true" > All
                       &nbsp;&nbsp;&nbsp;&nbsp;
                       <input type="checkbox" name="" > MCQ
                       &nbsp;&nbsp;&nbsp;&nbsp;
                       <input type="checkbox" name="" > Coding Questions
                     </div>    -->                                   
                    {% with questions as questions1 %} 
                    <div class="col-md-12">                  
                      <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th></th>
                          <th>
                            Type
                          </th>
                          <th>
                            Subject
                          </th>                        
                          <th>
                            Question
                          </th>                        
                          <th>
                           Level
                          </th>
                        </thead> 
                        <tbody>
                 {% for key,value in questions1.items %}
                          <tr id="{{key}}-row">
                            <td class="text-primary">
                              <input type="checkbox" name="questionid" onchange="changeTotal(this,'{{key}}')"  value={{key}} >
                            </td>                          
                            <td>
                               {% if value.qtype == 'mcq'%}
                               <font style="color:black;font-weight: bold;font-style: italic;font-size: 12px;"><i class="material-icons">check</i>
                                <sub>mcq</sub> </font>
                               {% else %}
                               <font style="color:green;font-weight: bold;font-size: 12px;"><i class="material-icons">code</i>
                                <sub>code</sub>
                               </font>
                              {% endif %}
                            </td>
                            <td>
                            {% if value.subject%}
                                {{value.subject}}
                              {% else %}
                                  ---
                              {% endif %}
                            </td>
                            <td>                               
                               <div id='div{{key}}'>
                                {{value.pre}}
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'none';         
                                              return false;
                                          })();"><u>show more</u></button>
                                  </a>
                               </div>                                
                               <div id="demo{{key}}" class="collapse">
                              {% if value.qtype == 'mcq' %}
                               {{value.post}} &nbsp; &nbsp; <i>
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'initial';  
                                              return false;
                                          })();"><u>show less</u></button>
                                  </a>
                               </i>
                               <ol>
                                  {% for k,v in value.options.items %}
                                    <li>{{v}}</li>
                                  {% endfor %}
                               </ol>
                               {%elif value.qtype == 'ct' %}
                                <b>{{value.title}}&nbsp; &nbsp; <i>
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'initial';
                                              return false;
                                          })();"><u>show less</u></button>
                                  </a></b>
                                <br>
                                {{value.description}}
                                <br>
                                <textarea disabled="true" class="md-textarea" id="code"  {% if value.snippet|length > 300 %} rows="14" {% elif value.snippet|length > 200 %} 
                              rows = "7" {% elif value.snippet|length > 100 %} 
                              rows = "7" {% else %} rows="7" {% endif %} cols="90">{{value.snippet}}</textarea>
                              <br>
                              <i><b>Testcases</b></i><br>
                              <ol>
                              {% for k,v in value.testcases.items %}
                              <li>Input : {{v.testcase}} | Output : {{v.output}}</li>
                              {% endfor %}
                              </ol>
                           
                                {% endif %}
                                </div>

                            </td>
                            <td>
                              {% if value.level%}
                                {{value.level}}
                              {% else %}
                                  ---
                              {% endif %}
                            </td>
                          </tr>                         
                    {% endfor %}
                         
                       {% endwith %} 
                        </tbody>
                      </table>
                    </div>
                    </div>
                     <div class="col-md-12">
                      {{form.max_time|as_crispy_field}}
                    </div>
                    <div class="col-md-12">
                       <button type="submit" class="btn btn-md btn-success">Create</button>
                    </div>
                  </div>
                </form>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
</div>
<script type="text/javascript">
 
  (function () {
    fetch('/getQuestions')
      .then(response => response.json())
      .then(json => {
        console.log(json.questions)
      })
  })();
  
function showRelatedQue(){
  qtype = document.getElementById('qtype').value;
  console.log('questions =>', JSON.stringify("{{ questions }}"))
  {% for question in questions %}
  type="{{question.qtype}}"
    if(type==qtype){
      
    }
  {% endfor %}
};

function changeTotal(cb,key){
  row = key+"-row";
  total = parseInt(document.getElementById("id_totalquestions").value);

  if(cb.checked){
    document.getElementById("id_totalquestions").value = total+1;
    document.getElementById(row).style.background = '#0007';
  }
  else{
   document.getElementById("id_totalquestions").value =total-1;
   document.getElementById(row).style.background = '#fff'; 
  }
};

</script>

{% endblock %}