{% load static %}
<style>
	font-sheet-footer {
		font-family: 'Monofett';
		font-size: 22px;
		background: #3e323245;
		text-align: center;
	}
</style>
<div class="container text-center">
	<div class="footer navbar-fixed-bottom">
		<footer>
			<!-- Copyright -->    
			<div class="container text-center"><b>All copyrigths reserved to © 2018 Copyright:</b>
				<a href="https://mdbootstrap.com/education/bootstrap/"> Site owner.com</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->  
	</div>
</div>
