{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.css">

 <div class="row">
        <div class="col-md-11"  style="{%if current == 'mcq'  or not current%}visibility: hidden;{%endif%}position: absolute;" id='addct'>                          
            <div class="card"> 
                <div class="row">
                    <div class="col-sm-6">{{form1.title|as_crispy_field}}</div>
                    <div class="col-sm-6">{{form1.level|as_crispy_field}}</div>                 
                </div>
                 <div class="col-md-l2">{{form1.description|as_crispy_field}}</div>    
                 <div class="col-md-l2">{{form1.snippet|as_crispy_field}}</div>
                 <div class="col-md-l2">{{form1.total_testcases_count|as_crispy_field}}</div>
                 <div class="col-md-12" id='tc' style="padding-left: 30px;padding-top: 30px;">
                 </div>
                 <div class="col-sm-12">
                    <button type="button" class="btn btn-sm btn-info" onclick="addTestCase();" id="add_another">Add Test-case</button>
                  </div>  
                  <div class="col-md-5"><button type="submit" class="btn btn-success">Add</button></div>                 
            </div> 
        </div>               
  </div> 

  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.min.js"></script>
 <script>
  
   (function() {
    console.log('doc is ready!')
    var editor = CodeMirror.fromTextArea(document.querySelector('#id_snippet'), {
      lineNumbers: true,
      mode:  "javascript"
    });
  })();
  
 </script>
