{% extends 'base.html' %}

{% block content %}
<style type="text/css">
  strong{
    font-size: 16px;
    font-weight: bolder;
  }
</style>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.css">
    {% include 'Nitor/sidebar.html' %}
    <div class="main-panel">
      {% include 'Nitor/navbar.html'  %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10" id='id_questions'>
              <div class="card" style="width: 120%">
                <form action="" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col-md-12 text-center" style="padding-top: 20px;">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title"><u>Create Test</u></h4>
                      </div>   
                    </div>
                    <div class="col-md-12">
                      {% for message in messages %}
                       <strong>{{message}}</strong>
                      {% endfor %}
                    </div>
                     <br><br>
                    {% with question as questionss %}
                    <div class="col-md-12">
                      <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                          <th>
                            Type
                          </th>
                          <th>
                            Subject
                          </th>
                          <th>
                            Question
                          </th>
                          <th>
                           Level
                          </th>
                        </thead> 
                        <tbody>
                 {% for key,value in questions.items %}
                          <tr id="{{key}}-row">
                            <td>
                               {% if value.qtype == 'mcq'%}
                               <font style="color:black;font-weight: bold;font-style: italic;font-size: 12px;"><i class="material-icons">check</i>
                                <sub>mcq</sub> </font>
                               {% else %}
                               <font style="color:green;font-weight: bold;font-size: 12px;"><i class="material-icons">code</i>
                                <sub>code</sub>
                               </font>
                              {% endif %}
                            </td>
                            <td>
                            {% if value.subject%}
                                {{value.subject}}
                              {% else %}
                                  {{value.language}}
                              {% endif %}
                            </td>
                            <td>
                               <div id='div{{key}}'>
                                {{value.pre}}
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'none';
                                              return false;
                                          })();"><u>show more</u></button>
                                  </a>
                               </div>
                                <div id="demo{{key}}" class="collapse">
                              {% if value.qtype == 'mcq' %}
                               {{value.post}} &nbsp; &nbsp; <i>
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'initial';  
                                              return false;
                                          })();"><u>show less</u></button>
                                  </a>
                               </i>
                               <ol>
                                  {% for k,v in value.options.items %}
                                    <li>{{v}}</li>
                                  {% endfor %}
                               </ol>
                               {%elif value.qtype == 'ct' %}
                                <b>{{value.title}}&nbsp; &nbsp; <i>
                                 <a class="" data-toggle="collapse" data-target="#demo{{key}}" onclick="(function(){
                                              document.getElementById('div{{key}}').style.display = 'initial';
                                              return false;
                                          })();"><u>show less</u></button>
                                  </a></b>
                                <br>
                                {{value.description}}
                                <br>
                                <textarea disabled="true" class="md-textarea" id="code"  {% if value.snippet|length > 300 %} rows="14" {% elif value.snippet|length > 200 %} 
                              rows = "7" {% elif value.snippet|length > 100 %} 
                              rows = "7" {% else %} rows="7" {% endif %} cols="90">{{value.snippet}}</textarea>
                              <br>
                              <i><b>Testcases</b></i><br>
                              <ol>
                              {% for k,v in value.testcases.items %}
                              <li>Input : {{v.testcase}} | Output : {{v.output}}</li>
                              {% endfor %}
                              </ol>
                              <br>
                                <a href="/removeQue/{{key}}" class="btn btn-sm btn-danger">Remove</a>

                                {% endif %}
                                </div>
                            </td>
                            <td>
                              {% if value.level%}
                                {{value.level}}
                              {% else %}
                                  ---
                              {% endif %}
                            </td>
                          </tr>
                    {% endfor %}
                       {% endwith %} 
                        </tbody>
                      </table>
                    </div>
                    </div>
                  </div>
                </form>                
              </div>
            </div>            
          </div>
            <div style="background: rgba(10,10,10,0.2);width: 30%;text-align: center;">
                       <hr>
                    <a href="/addCode" class="" style="padding: 101px 101px 110px 10px;"><i class="material-icons">add_box</i>Add questions</a>
                    <hr>
                    </div>
        </div>
      </div>
    </div>
</div>
   <script src="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.min.js"></script>

<script type="text/javascript">
  
function showRelatedQue(){
  qtype = document.getElementById('qtype').value;
  console.log('questions =>', JSON.stringify("{{ questions }}"))
  {% for question in questions %}
  type="{{question.qtype}}"
    if(type==qtype){
      
    }
  {% endfor %}
};

function changeTotal(cb,key){
  row = key+"-row";
  total = parseInt(document.getElementById("id_totalquestions").value);

  if(cb.checked){
    document.getElementById("id_totalquestions").value = total+1;
    document.getElementById(row).style.background = '#0007';
  }
  else{
   document.getElementById("id_totalquestions").value =total-1;
   document.getElementById(row).style.background = '#fff'; 
  }
};

function createEditor(){
  console.log("hi")
  var editor = CodeMirror.fromTextArea(document.querySelector('#code'), {
      lineNumbers: true,
      mode:  "java",
      theme: 'duotone-light',    
    });  
}
</script>

{% endblock %}