{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="wrapper" style="margin-left: -250px;">
    <div class="main-panel">
      {% include 'Nitor/navbar.html'  %}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form action='' method="POST" onsubmit="return checkBeforeSubmit();">
                {% csrf_token %}
              <div class="card" >
                <div class="col-md-12">
                 <div id='c_list' class="col-md-12">
                  <div class="col-md-12 text-info text-center">
                    <h3 style="padding: 15px 15px 0px 10px;" > <b><u>Created question papers</u></b></h3>
                    <hr>
                  </div>
                  <form>
                     <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                      
                  </div>                  
                </div>
           </div>
                    <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary"> 
                              <th>
                                Title
                              </th>
                              <th>
                                Total question
                              </th>
                              <th>
                                Max time
                              </th>
                            </thead>
                            <tbody>                              
                              <tr>
                                <td>{{paper.title}}</td>
                                <td>{{paper.total}}</td>                               
                                <td>{{paper.max_time}}</td>
                             </tr>                            
                            </tbody>
                          </table>                                                                             
                        </div>
                        <div class="row">
                          <h5> <u>Multiple choice questions</u></h5>
                          <br>
                          <br>
                          <br>
                            <ol>
                            {% for key,value in paper.mcq.items %}
                            <div class="col-sm-10">
                              <li>
                                {{value.desc}}                              
                                <br>
                                <ol>                                  
                                  {%for k,v in value.options.items %}
                                  <li>                                    
                                    {{v}}
                                  </li>
                                 {% endfor %}                                  
                                </ol>        
                              </li>
                              <hr>
                            </div>
                            {% endfor %}
                            </ol>
                        </div>
                         <div class="row">
                          <h5> <u>Coding question</u></h5>
                          <br>
                          <br>
                          <br>
                            <ol>
                            {% for key,value in paper.coding.items %}
                            <div class="col-sm-10">
                              <li>
                                {{value}}                              
                                <br>
                              </li>
                              <hr>
                            </div>
                            {% endfor %}
                            </ol>
                        </div>
                        <div class="row text-center">
                         <a href="" class="btn btn-lg text-center"><i class="material-icons">print</i>Print out</a>
                        </div>
                    </form>            
                   </div>
                  <div>
                 </div>                
              </div>
             </form>
            </div> 
          </div>
      </div>
    </div>

{% endblock %}
