{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style type="text/css">
  
</style>
<div class="wrapper" style="margin-left: -250px;">
  {% include 'Nitor/navbar.html'  %}
    <div class="main-panel">      
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <form action='' method="POST" onsubmit="return checkBeforeSubmit();">
                {% csrf_token %}
              <div class="card" >
                <div class="col-md-12">
                 <div id='c_list' class="col-md-12">                  
                  <div class="col-md-12 text-info text-center">
                    <h3 style="padding: 15px 15px 0px 10px;" > <b><u>Created question papers</u></b></h3>
                  </div>
                  <form>
                     <div class="modal fade" id="myModal">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                      
                  </div>                  
                </div>
           </div>
                    <div class="table-responsive" style="border: solid 1px black;">
                          <table class="table">
                            <thead class=" text-primary"> 
                              <th>
                                <b>Title</b>
                              </th>
                              <th>
                                <b>Total question</b>
                              </th>
                              <th>
                                <b>Max time</b>
                              </th>
                            </thead>
                            <tbody>                              
                              <tr>
                                <td><b><i>{{paper.title}}</i></b></td>
                                <td><b><i>{{paper.total}}</i></b></td>                               
                                <td><b><i>{{paper.max_time}}</i></b></td>
                             </tr>                            
                            </tbody>
                          </table>                                                                    
                        </div>
                        <hr>
                        <div class="row">
                          <div class="col-md-12" style="background: #1113;padding: 5px 5px 5px 5px;">
                            <h5 id="Quetype"> <u>Multiple choice questions</u></h5>   
                          </div>
                          <div class="col-md-12"><br></div>
                            <ol>
                            {% for key,value in paper.mcq.items %}
                            <div class="col-sm-10">
                              <li>
                                {{value.desc}}                              
                                <br>
                                <ol>                                  
                                  {%for k,v in value.options.items %}
                                  <li>                                    
                                    {{v}}
                                  </li>
                                 {% endfor %}                                  
                                </ol>        
                              </li>
                              <hr>
                            </div>
                            {% endfor %}
                            </ol>
                        </div>
                         <div class="row">
                          <div class="col-sm-12" style="background: #1113;padding: 5px 5px 5px 5px;">
                          <h5> <u>Coding question</u></h5>                            
                         </div>
                            <ol>
                            {% for key,value in paper.coding.items %}
                            <div class="col-sm-12">
                              <li>
                                {{value.title}}                              
                                <br>
                              </li>
                              <br>
                            </div>
                            {% endfor %}
                            </ol>
                        </div>
                        <div class="row text-center">
                         <div class="col-md-2 text-left" style="margin-top: -12px;">
                           <a href="" class="btn btn-lg text-center"><i class="material-icons">print</i>Print out</a>
                         </div>                         
                         <div class="col-md-2 text-center">
                            <a href='/removeQuestionPaper/{{id}}' class="btn btn-sm btn-danger">Remove</a>
                         </div>
                        </div>
                    </form>            
                   </div>
                  <div>
                 </div>                
              </div>
             </form>
            </div> 
          </div>
      </div>
    </div>

{% endblock %}
