{% load static %}
<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg" style="margin-top:70px !important;" id="basicSidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="https://www.nitorinfotech.com/" class="simple-text logo-normal">
          Nitor Infotech
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
         
          {%if not request.user.is_authenticated%}
           <li class="nav-item ">
            <a class="nav-link" href="login">
              <i class="material-icons">person</i>
              <p>Admin Login</p>
            </a>
          </li>          
          <li class="nav-item ">
            <a class="nav-link" href="login">
              <i class="material-icons">person</i>
              <p>Candidate Login</p>
            </a>
          </li>
          {%endif%}
          {%if request.user.is_authenticated%}
          {%if request.user.is_superuser%}
           
          <li class="nav-item " >
            <a class="nav-link" href="/listCandidate">
              <i class="material-icons">person</i>
              <p>List candidates</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/addUser">
              <i class="material-icons">queue</i>
              <p>Add candidate</p>
            </a>
          </li> 
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/assignTest/name='ALL'" id='addcode'>
              <i class="material-icons">code</i>
              <p>Assign test</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/questionPapers" id='addcode'>
              <i class="material-icons">forum</i>
              <p>Question papers</p>
            </a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="/listQuestions">
              <i class="material-icons">list</i>
              <p>Questions</p>
            </a>
          </li>           
          {% endif %}    
          {% endif %}
           {%if request.user.is_authenticated%}
            {%if not request.user.is_superuser%}
          <li class="nav-item ">
            <a class="nav-link" href="./user.html">
              <i class="material-icons">person</i>
              <p>Attempt part 1 MCQ</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/addUser">
              <i class="material-icons">content_paste</i>
              <p>Attempt part 2 coding</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./typography.html">
              <i class="material-icons">library_books</i>
              <p>About exam</p>
            </a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="./icons.html">
              <i class="material-icons">Records</i>
              <p>Your score</p>
            </a>
          </li>          
            {% endif %}    
          {% endif %}        
        </ul>
      </div>
    </div>

 