{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper ">
    {% include 'Nitor/sidebar.html' %}
    {% include 'Nitor/navbar.html'  %}
    <div class="main-panel">    
    	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="row" style="padding: 25px 25px 25px 25px;">
                  <div class="col-md-12">
                    <span class="label label-success">{{message}}</span>
                  </div> 
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
{% endblock %}