{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style>  
  .img{
    transition:  1s;
  }
  .img:hover{
    width:130px;
    height: 120px;
  }
  .font-sheet{
   font-family: 'Righteous';
   font-size: 30px;
 }  
  .font-sheet-header{
     font-family: 'Monofett';
     font-size: 50px;
     font-weight: bolder;
  }
  .content{
  margin-top: -10px !important; 
  }
  footer{
  text-align: center !important;
  }
</style>
<title>{%block title%}Dashboard|Nitor infotech{% endblock %}</title>
<div class="wrapper">

 <form>
  {% csrf_token %}
  <div class="main-panel">
   <div class="content"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card" >
            <div class="card-body">
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'list_candidates' %}" title="Show all candidates"><img class=img src="{% static 'admin/img/list.png' %}" width="100px" height="100px"><br><span class="font-sheet" style="font-weight: bold;color: #1119;font-size: 16px;">Candidates list</span></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'addUser' %}" title="Add new candidate"><img class=img src="{% static 'admin/img/addEmployee.png' %}" width="100px" height="100px"><br><span class="font-sheet"  style="font-weight: bold;color: #1119;font-size: 16px;">Add candidate</span></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'assignTest' name='ALL'%}" title="Assign test to candidates"><img class=img src="{% static 'admin/img/assignTest.jpg' %}" width="100px" height="100px"><br><span class="font-sheet"  style="font-weight: bold;color: #1119;font-size: 16px;">Assign test</span></a>
                </div>
              </div>
              <br>
              <br>
              <hr>
              <br>
              <br>
              <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'questionPapers' %}" title="Show all question paper created"><img  class=img  src="{% static 'admin/img/questionPaperList.png' %}" width="100px" height="100px"><br><span class="font-sheet"  style="font-weight: bold;color: #1119;font-size: 16px;">List question paper</span></a>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'listQuestions' %}" title="Show all questions"><img class=img src="{% static 'admin/img/questionsList.png' %}" width="100px" height="100px"><br><span class="font-sheet"  style="font-weight: bold;color: #1119;font-size: 16px;">Questions list</span></a>
                </div> 
                <div class="col-md-1"></div>
                <div class="col-md-3 text-center">
                  <a href="{% url 'addQuestion' %}" title="Add new questions"><img class=img src="{% static 'admin/img/addQuestion.png' %}" width="100px" height="100px"><br><span class="font-sheet"  style="font-weight: bold;color: #1119;font-size: 16px;">Add question</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-right">
            
          </div>
        </div>            
      </div>          
    </div>
  </div>
</div>     
</form>
</div>
<script type="text/javascript">
  function hover(tag){
    tag = tag.parentNode;
    tag.childNodes[1].childNodes[0].style.width = "110px";
    tag.childNodes[1].childNodes[0].style.height = "110px";
  }
  function unhover(tag){
   tag = tag.parentNode;
   tag.childNodes[1].childNodes[0].style.width = "100px";
   tag.childNodes[1].childNodes[0].style.height = "100px";
 }
</script>
{% endblock %}
