{% extends 'main2.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<title>{%block title%}Assign test - Nitor infotech{% endblock %}</title>
<style type="text/css">

    strong{
        font-size: 13px;
        font-weight: bolder;
        color:red;
      }

    .choose{
      position: relative !important;
      display: block  !important;
      overflow: hidden  !important;
      padding: 0 0 0 8px  !important;
      height: 25px  !important;
      border: 1px solid #aaa  !important;
      border-radius: 5px  !important;
      background-color: #fff  !important;
      white-space: nowrap  !important;
      line-height: 24px  !important;
      font-size:18px !important;
    }
    label{
    color : #171 !important;
    }

</style>
      <div class="row">
        <div class="col-sm-12">
          {{que_paper_assigned}}
          <div class="row">
            <div class="col-md-12">
              <form action='' method="POST" onsubmit="return checkBeforeSubmit();" >
                {% csrf_token %}
                <div class="row" style="background-color: #fff0;padding: 10px 10px 10px 10px;">
                  <div class="col-md-12">
                    {% for message in messages %}
                    <strong>Error : {{message}}</strong>
                    {% endfor %}
                  </div>
                    <!--
                    Candidates list to be select first
                  -->
                  <div class="card">
                    <div class="row card-title">
                      <div class="col-md-12" >
                        <h4 style="padding: 10px 10px 0px 15px; font-family:sans-serif;"><b><u>Assign Test</u></b></h4>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="card" style="margin-top:-10px;border:none !important;box-shadow:none !important;">
                        <div class="card-body">
                          <div class="col-md-12">
                            <select name="candidate" id="candidate" class="custom-select"  onchange="findAssigned(this)" required>
                              <option disabled="true" selected>Select candidate</option>
                              {% for candidate in candidates %}
                              <option  name="{{candidate.id}}" value="{{candidate.id}}">{{candidate.first_name}}&nbsp;{{candidate.last_name}}</option>
                              {%endfor%}
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="card" style="margin-top:-10px;border:none !important;box-shadow:none !important;">
                        <div class="card-body" >
                         <div class="col-md-12">
                          <select name="paper" id="paper" class="custom-select" onchange="showBox();" >
                            <option value="Select candidate" disabled="true" selected="true">Select Test</option>
                            {% for question in papers %}
                            <option value="{{question.id}}"  id="test-{{question.id}}">{{question.title_qp}}</option>
                            {% endfor %}
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="card" style="margin-top:-10px;border:none !important;box-shadow:none !important;">
                      <div class="card-body">
                        <div class="col-md-12" id="date-input"><input type="date" class="form-control" required="true" name="date_str"></div>
                      </div>
                    </div>
                    <div class="col-md-12 ">
                      <button class="btn btn-md btn-success text-center"> Submit</button>
                    </div>
                  </div>
                </div>

              </div>
              <div>
              </div>

            </form>

            <!-- Records of previously assigned -->
            {% if all_candidate_status %}
            <div class="card" >
                <div class="card-title">
                  <div class="col-sm-12">
                    <h4 style="padding: 10px 10px 0px 15px; font-family:sans-serif;" ><b><u>Previously assigned</u></b></h4>
                  </div>
                </div>
                <div class="card-body" style="color:#111 !important;">
                  <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                    <thead>
                      <th >
                        <b> Name</b>
                      </th>
                      <th>
                        <b>email</b>
                      </th>
                      <th>
                        <b>Test assigned</b>
                      </th>
                      <th>
                        <b>Time</b>
                      </th>
                      <th>
                        <b>Attempted</b>
                      </th>
                      <th><b>Date</b></th>
                      <th></th>
                    </thead>
                    <tbody>
                      {% for key,value in all_candidate_status.items %}
                      <tr>
                        <td id="left">{{value.candidate.fname}}&nbsp;{{value.candidate.lname}}</td>
                        <td>{{value.candidate.email}}</td>
                        <td>{{value.paper_title}}</td>
                        <td>{{value.max_time}}</td>
                        <td>{{value.attempted}}</td>
                        <td>{{value.date}}</td>
                        <td>
                          {% if value.attempted == True %}

                          <a class="btn btn-sm btn-success" href="/showscore/{{value.candidate.user_id}}/{{value.paperId}}/{{value.test_id}}">  <i class="material-icons"  style="font-size:12px !important;">visibility</i>
                          </a>
                          {% else %}
                          <a class="btn btn-sm" style="background: #9999;"><i class="material-icons" style="font-size:12px !important;">visibility</i>
                          </a>
                          {% endif %}
                          <a class="btn btn-sm btn-danger" href="/remassigned/{{value.candidate.user_id}}/{{value.paperId}}/{{value.test_id}}" onclick="return confirmRemove();"> <i class="material-icons"  style="font-size:12px !important;">clear</i>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

                  {% endif %}
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="{% static 'admin/js/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/jszip/dist/jszip.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/pdfmake/build/pdfmake.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/pdfmake/build/vfs_fonts.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
  <script src="{% static 'admin/js/vendor/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
  <script src="{% static 'admin/css/assets/js/init-scripts/data-table/datatables-init.js' %}"></script>
  <script type="text/javascript">

          function confirmRemove(){
            result = confirm("Are you sure ?");
            if(result){
              return true;
            }
            else{
              return false;
            }
          }

          (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);

        </script>
        {% endblock %}
