{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<style type="text/css">
  strong{
    font-size: 13px;
    font-weight: bolder;
    color:red;
  }

</style>
<title>{%block title%}Question papers - Nitor infotech{% endblock %}</title>
<link href="{% static 'admin/css/material-dashboard.css'%}" rel="stylesheet" />

<div class="wrapper">    
    <div class="main-panel"   style=" background-image: url('/static/admin/img/background1.jpg');">    
    	<div class="content">
        <div class="container-fluid"   style=" background-image: url('/static/admin/img/background1.jpg');">
          <div class="row"   style=" background-image: url('/static/admin/img/background1.jpg');">
            <div class="col-md-12"  style=" background-image: url('/static/admin/img/background1.jpg');" >
              <form action='' method="POST" onsubmit="return checkBeforeSubmit();"   style="background:  #fff;">
                {% csrf_token %}
              <div class="card"   style=" background-image: url('/static/admin/img/background1.jpg');">
                    <div class="col-md-12 text-center"   style="background:  #fff;">                      
                       <strong style="font-size: 20px">{{message}}</strong>
                    </div>
                <div class="col-md-12">
                      {% for message in messages %}
                       <strong>Error : {{message}}</strong>
                      {% endfor %}
                    </div> 
              <!--
                Candidates list to be select first
               -->
                <div id='c_list' class="col-md-12">
                  <div class="col-md-12 text-info text-center">
                    <h3 style="padding: 15px 15px 0px 10px;" > <b><u>Created question papers</u></b></h3>
                    <hr>
                  </div>
                  <form>
                      {%  if not paper %}
                    <div>
                      <h1 style="font-family: sans-serif;font-weight: bolder;">No paper created</h1>
                    </div>
                      {% else %}
                    <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary"> 
                            <th></th> 
                              <th>
                               <b> Title</b>
                              </th>
                              <th>
                                <b>Total question</b>
                              </th>
                              <th>
                                <b>Max time</b>
                              </th>
                            </thead>
                            <tbody>
                     {% for key,value in paper.items %} 
                              <tr id='{{key}}-td' onmouseover="focusCell(this)" onmouseleave="unfocusCell(this)">
                              	<td>
                              		<a href="/fetchQuestionPaper/{{key}}"><span class="glyphicon glyphicon-eye-open"></span>Show
                              		</a>
                                </td>
                                <td>{{value.title}}</td>
                                <td>{{value.total_q}}</td>
                                <td>{{value.max_time}}</td>
                            </tr>
                      {% endfor %}
                            </tbody>
                          </table>                         
                        </div>  
                      {%endif %}

                    </form>                     
                   </div>                   
                  <div>                   
                 </div>        
              </div>
                <div style="width: 30%;text-align: center;margin-left: 10px;">
                    <hr>
                    <a href="/createQuePaper" class="btn btn-success"><i class="material-icons">add_box</i>&nbsp;&nbsp;Create question paper</a>
                    <hr>
                </div>        
             </form>
            </div> 
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
    function focusCell(cb){
    	cb.style.background = "#0023";
      };

    function unfocusCell(cb){
    	cb.style.background = "#fff";
      };

    </script>
{% endblock %}
