{% extends 'main.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link href="{% static 'admin/css/material-dashboard.css'%}" rel="stylesheet" />
<title>{%block title%}Success - Nitor infotech{% endblock %}</title>
<div class="wrapper ">
  <div class="main-panel">    
   <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-10">
          <div class="card">
            <div class="row" style="padding: 25px 25px 25px 25px;">
              <div class="col-md-12">
                <span class="label label-success">{{message}}</span>
              </div> 
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
</div>
{% endblock %}