{% extends 'baser.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}
<div class="wrapper" style="padding: 5px 20px 20px 20px;  background: #fff0 !important;">
  <form>
    {% csrf_token %}
    <div class="main-panel" style="width: 100% !important;">
     {% include 'navbar.html'  %}
     <div class="content" style="padding: 30px 0px 0px 0px !important">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12"  style="background-image: url({%static 'admin/img/background1.jpg'%});box-shadow: none !important;margin-top: 3px;border: none !important;border-radius:0px !important;">
            <div class="card"   style="background: #5670;box-shadow: none !important;margin-top: 3px;border: none !important;border-radius:0px !important;">
              <div class="card-header card-header-primary">
                <h4 class="card-title" style="font-family: serif;font-weight: bolder;">Tests assigned to you</h4>
              </div>
              <div class="card-body" style="background: #5670;">
                <div class="row">
                  <div class="col-sm-7">
                    {% if not tests %}
                    <br><br>
                    <h4 class="lead">No tests assigned !<br><br> Please contact admin.</h4>
                    {% endif %}
                    {% for key,value in tests.items %} 
                    <div class="row" style="background: #2226; border-top-left-radius:50px;border-bottom-left-radius:50px;border-top-right-radius:15px;border-bottom-right-radius:15px;padding: 5px 5px 5px 5px;">
                      <div class="col-sm-2" style="background: #fff6;border-top-left-radius:50px;border-bottom-left-radius:50px;padding: 15px 5px 5px 15px;">
                        <img src="{% static 'admin/img/testAssigned.png' %}" width="90px" height="90px">
                      </div>
                      <div class="col-sm-1" style="{% if value.attempted == False%} background: #9118;{% else %}background: #1918;{% endif %}"></div>
                      <div class="col-sm-7" style="{% if value.attempted == False%} background: #9118;{% else %}background: #1918;{% endif %}">
                        <div class="row" style="padding-top: 15px;">
                          <div class="col-sm-12"><font style="font-family: sans-serif; font-size: 16px;font-weight: bolder;color: black;">Test Assigned : {{value.paper_title}}</font></div>
                          <div class="col-sm-12"><font style="font-family: sans-serif; font-size: 16px;font-weight: bolder;color: black;">Scheduled in :{{value.date}}</font></div>
                          <div class="col-sm-12"><font style="font-family: sans-serif; font-size: 16px;font-weight: bolder;color: black;">Time limit : {{value.max_time}} minutes</font></div>
                        </div>
                      </div>
                      <div class="col-sm-2">
                        <div class="row">&nbsp;</div>
                        <div class="row">
                          <div class="col-sm-12">
                            {% if value.attempted == True%}
                            <img src="{% static 'admin/img/right.svg' %}" width="80px" height="70px" >
                            {% else %}
                            <img src="{% static 'admin/img/wrong.png' %}" width="50px" height="50px"> <br>
                            {% endif %}
                          </div>
                          {% if value.attempted == False%}
                          <div class="col-sm-12"><a href="/candidate/rules/{{value.paperId}}/{{key}}" class="btn btn-success btn-sm">Give test</a>  </div>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                    <br>
                    {% endfor %}
                  </div>
                  <div class="col-sm-5">
                    <div class="row" style="background: #fff;margin-left: 5px;border-top: solid 10px #111;border-bottom: solid 10px #111; border-radius: 10px;">
                      <div class="col-sm-2"></div>
                      <div class="col-sm-10" style="color: black;font-weight: bolder;padding: 10px 10px 10px 10px;"><h3><i><b><u>Rules:</u></b></i></h3></div>
                      <div class="col-sm-12">
                        <ol style="font-weight: bolder;font-size: 16px; font-style: italic; line-height: 30px;">
                          <li>Once test has started it cannot be restart.</li>
                          <li>Each test has time limit, so you need to attempt test in that time limit.</li>
                          <li>After attempting each question you need to save the answer.</li>
                          <li>Once test is completed you need to make final submission.</li>
                          <li>Test will be evaluated on the basis of your attempt and certain parameters (tab changes, time taken etc.).</li>
                          <li>Use of any kind of software and compiler other that online provided by website is prohibited.</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
        <div class="row text-center" style="background: #111; text-align: center;">  
         {% include 'Nitor/footer.html'  %}
       </div>
     </div>
   </div>  
 </div>
</form>
</div>
<script type="text/javascript">
  (function(){
    sessionStorage.clear();
  })();
  function alertShow() {
    alert('Already attempted');
  };
</script>
{% endblock %}
