{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper" style="margin-left: -210px; padding: 10px 60px 19px 10px;">
     {% include 'navbar.html'  %}         
	<form>
		{% csrf_token %}
    <div class="main-panel">
    	<div class="content"> 
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 ">
              <div class="card ">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Tests assigned to you</h4>
                </div>
                <div class="card-body  jumbotron">
                  <div class="row lead">
                  {% for key,value in tests.items %}
                    <div class="col-sm-6" style="padding: 10px 10px 10px 10px;">      
                      <div class="card" style="padding: 10px 10px 10px 10px;color: black;font-weight: bold;font-family:sans-serif;background-color: rgba(66, 165, 74, 0.86);{% if value.attempted == False%} padding: 10px 10px 10px 10px;color: black;font-weight: bold;font-family:sans-serif;background-color: rgba(255, 4, 4, 0.69);{%endif%}">
                        <table>
                          <tr><td>Test Assigned</td><td>:</td><td>{{value.paper_title}}</td></tr>
                          <tr><td>Scheduled in : </td><td>:</td><td>{{value.date}}</td></tr> 
                          <tr><td>Time : </td><td>:</td><td>{{value.max_time}}&nbsp; minutes</td></tr>               
                          <tr>{% if value.attempted == False%}
                            <strong><u>Not attempted</u><i class="material-icons" style="position: fixed;">clear</i></strong>
                            {%else%}
                            <strong><u>Attempted</u><i class="material-icons" style="position: fixed;">done</i></strong>
                           {% endif %}
                           <hr>
                          </tr>
                          {% if value.attempted == False%}
                          <tr><td></td><td><a href="/candidate/rules/{{value.paperId}}" class="btn btn-success btn-sm">Give test</a></td><td></td></tr> 
                          {% else %} 
                           <tr><td></td><td><button class="btn btn-danger btn-sm" onclick="alertShow();">Give test</button></td><td></td></tr>                        
                          {% endif %}
                        </table>
                      </div>
                    </div>
                    {% endfor %}                    
                  </div>
                </div>
              </div>
            </div> 
             {% include 'Nitor/footer.html'  %}           
          </div>
        </div>
      </div>
    </div>
	</form>
      <script type="text/javascript">        
        (function(){
          sessionStorage.clear();
        })();
        function alertShow() {
          alert('Already attempted');
        };
      </script>
{% endblock %}
  