{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="wrapper" style="margin-left: -200px;">
	<form>
		{% csrf_token %}		    
    <div class="main-panel">
    	{% include 'navbar.html'  %}
    	<div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-10">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Tests assigned to you</h4>
                </div>
                <div class="card-body">
                  <div class="row">
                  {% for key,value in tests.items %}
                    <div class="col-lg-6" style="padding: 20px 20px 20px 20px;">      
                      <div class="card" style="padding: 20px 20px 20px 20px; {% if value.attempted == False%} background-color: rgba(255,0,0,0.5){%else%}background-color: rgba(0,255,0,0.5);{%endif%}">
                        <table>
                          <tr><td>Test Assigned</td><td>:</td><td>{{value.paper_title}}</td></tr>
                          <tr><td>Scheduled in : </td><td>:</td><td>{{value.date}}</td></tr> 
                          <tr><td>Time : </td><td>:</td><td>{{value.max_time}}&nbsp; minutes</td></tr>               
                          <tr>{% if value.attempted == False%}
                            <strong><u>Not attempted</u></strong>
                            {%else%}
                            <strong><u>Attempted</u></strong>
                           {% endif %}
                           <hr>
                          </tr>
                          {% if value.attempted == False%}
                          <tr><td></td><td><a href="" class="btn btn-success btn-sm">Give test</a></td><td></td></tr>
                          {% endif %}
                        </table>
                      </div>
                    </div>
                    {% endfor %}
                    
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
	</form>
      
{% endblock %}
  