{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<button id="ajaxbutton">Click me</button>



<script type="text/javascript">
 $("#ajaxbutton").click(function(){
 	console.log("vb")
 	$.ajax({
 		type : "GET",
 		url : "http://127.0.0.1:8000/candidate/hello/",
 		dataType :"text",
 		csrfmiddlewaretoken: '{{ csrf_token }}',
 		success : function(data){
 			console.log(data);
 		},
 		failure: function(data) { 
        console.log("Got error");
   	    },
   	    error: function(xhr,status,error) { 
        console.log(xhr.responseText + " error  "+error);
   	    }
 	});
 	 return false;
 });
</script>
{% endblock %}