  {% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.css">
<div class="wrapper">
	<form onload="timer2();"></form>    
	 {% csrf_token %}
    <div class="main-panel">
    	{% include 'navbar.html'  %}
    	<div class="content"  style="margin-left: -280px;">
        <div class="container">
          <div class="row text-left" style="font-family: sans-serif;">
            <div class="row ">
                  <div class="col-sm-11 text-center ">
                    <p class="lead">Test will ends in &nbsp;&nbsp;&nbsp;
                    <input type="text" name="hours" id="hours" style="width: 26px;height: 26px;" disabled="true" value="{{hour}}">
                      <span>:</span>
                    <input type="text" name="minutes" id="minutes" style="width: 26px;height: 26px;" disabled="true" value="{{minute}}">
                      :
                    <input type="text" name="seconds" id="seconds" style="width: 26px;height: 26px;" disabled="true" value="{{second}}">
                  </p>
                  </div>              
                  <div class="col-sm-1 text-right">
                    <input type="submit" name="submit" value="Quit test" class="btn btn-md btn-danger" style="text-align: right;">
                  </div>
            </div>            
              <div class="row">
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header card-header-primary">
                         <h5 class="card-title">{{paper_details.title}}</h5>
                         <p class="card-title">Total questions : {{paper_details.total}}</p>
                         <p class="card-title">Max_time : {{paper_details.max_time}} minutes</p>
                        </div>
                      <div class="card-body" style="margin-top: 30px;">
                            {% for ke,va in pages.items %}
                            <div class="row">
                              <div class="col-md-1"><span>{{va.sr}}</span></div>                   
                              <div class="col-md-11" >     
                              <form method="POST" action="?page={{ request.session.currentpage }}">
                               {% csrf_token %}

                               <!-- If question is MCQ type -->
                               {% if va.type == 'mcq'%}
                                  <textarea style="background: black;color: red;padding: 5px 5px 5px 5px;font-size: 17px;" {% if va.desc|length > 250 %} rows="14" {% elif va.desc|length > 180 %} 
                                  rows = "7" {% elif va.desc|length > 100 %} 
                                  rows = "5" {% else %} rows="2" {% endif %} cols="60" disabled="true" style="border: none;background:none;">{{va.desc}}</textarea>
                                  {% for k,v in va.options.items %}  
                                  <br>                         
                                    <div>
                                        <input type="radio" name="correct" value="{{ke}}|{{k}}|{{va.sr}}" id="{{ke}}|{{v}}|{{va.sr}}"
                                        {% for x,y in answered.items %}
                                          {% if x == ke%}
                                            {% if y.answer == k %}
                                              checked="true" 
                                             {%endif%}
                                          {% endif %}
                                         {% endfor %}
                                        >
                                       &nbsp;&nbsp;{{v}}
                                    </div>
                                  {% endfor %}
                                    <div class="col-md-6 text-center">
                                       <input type="submit" name="submit" value="Submit answer" class="btn btn-sm btn-success" onclick="allcheck();">
                                    </div>
                                </form>
<!-- For coding type -->
       {%elif va.type == 'code' %}
       <div class="col-md-12">
         <textarea class="md-textarea" style="background: black;color: red;padding: 5px 5px 5px 5px;font-size: 15px;" {% if va.title|length > 300 %} rows="14" {% elif va.title|length > 200 %} 
          rows = "7" {% elif va.title|length > 100 %} 
          rows = "3" {% else %} rows="1" {% endif %} cols="65" disabled="true" style="border: none;background:none;">Title : {{va.title}}</textarea> 
        <textarea class="md-textarea"  style="background: black;color: red;padding: 5px 5px 5px 5px;size: 14px;font-size: 15px;" {% if va.desc|length > 300 %} rows="14" {% elif va.desc|length > 200 %} 
          rows = "7" {% elif va.desc|length > 100 %} 
          rows = "7" {% else %} rows="7" {% endif %} cols="69" disabled="true" style="border: none;background:none;">Description : {{va.desc}}</textarea> 
          <div><p class="lead"><u>Write your code</u><hr></p></div>
          <div class="col-md-12">
            <textarea class="md-textarea" id="code">{{va.snippet}}</textarea>
            <hr>
          </div>   
          <div class="row">
            <div class="col-md-6 text-center">
            <button class="btn btn-success btn-sm" id='runajax' name = "{{ke}}">Run code </button> 
          </div> 
          <div class="col-md-6">
            <input type="submit" class="btn btn-success btn-sm"  value = "Submit code"> 
          </div>                                  
          </div>                                  
           <div class="col-md-11" >                                 
                  <h5 style="font-family: inherit;">Output:</h5>
                  <textarea class="md-textarea" style="background: black;color: white; font-weight: bold;padding: 10px 10px 10px 10px;" rows="3" cols="70" disabled="true" id="output"></textarea>
          </div>
       </div>
        {% endif %}
                               </div>
                            </div>
                           {% endfor %}
                      </div>                                 
                    </div>
                  </div>
                <div class="col-md-3">
                  <div class="card">
                    <div class="card-body"> 
                      {% if paginator.has_other_pages %}
                      <ul class="pagination">
                         <div class="row">
                          <div class="col-md-12 text-center" style="margin-top: 10px;">
                          {% if paginator.has_previous %}
                          <li class="page-item" style="background-color: #9111;font-family: cursive;color: black;"><a class="page-link" href="?page={{ paginator.previous_page_number }}">&laquo; Previous</a></li>
                          {% else %}
                          <li class="disabled page-item page-link" style="background: #0007;opacity: 0.3;font-size: 12px;color: black;background-color: #9111;"><span>&laquo; Previous</span></li>
                          {% endif %}
                          </div> 
                        {% for i in paginator.paginator.page_range %}
                        {% if paginator.number == i %}
                          <div class="col-md-3 text-center" style="margin-top: 10px;">
                          <li class="active page-item page-link" id="{{i}}-count" style="font-size: 12px;font-family: cursive;color: black;background-color: #9111;"><span>{{ i }}<span class="sr-only">(current)</span></span></li>
                          </div>                        
                        {% else %}
                          <div class="col-md-3 text-center" style="margin-top: 10px;">
                          <li class="page-item" style="font-family: cursive;font-weight: bolder;font-size: 12px;color: #000;background-color: #9111;"><a class="page-link" href="?page={{ i }}" id="{{i}}-count" onclick="answerChange();">{{ i }}</a></li>
                          </div>
                        {% endif %}                                    
                        {% endfor %}                                                    

                         <div class="col-md-12 text-center" style="margin-top: 10px;">
                        {% if paginator.has_next %}
                          <li class="page-item " style="font-family: cursive;background-color: #9111;font-weight: bolder;font-size: 12px;color: black;font-family: cursive;"><a class="page-link" href="?page={{ paginator.next_page_number }}">Next &raquo;</a></li>
                        {% else %}
                          <li class="disabled page-item page-link" style="background: #0007;background-color: #9111;opacity: 0.3;color: black;font-family: cursive;"><span>Next &raquo;</span></li>
                        </div>
                        {% endif %}
                        </div>
                        {% endif %}
                  </div>
                </div>   
            
            </div>
          </div>
        </div>        
      </div>    
    </div>
</div>



  <script src="https://cdn.jsdelivr.net/npm/codemirror@5.44.0/lib/codemirror.min.js"></script>
  <script type="text/javascript">
   

    window.onload = checkThis();
    function checkThis(){
      {% for key,value in paper.items %}
        {% if key in answered %}
          str= "{{value.sr}}-count";          
          document.getElementById(str).style.background = "#9999";
        {% endif %}
      {% endfor %}    
      hours=document.getElementById('hours').value; 
      minutes=document.getElementById('minutes').value;
      seconds= document.getElementById('seconds').value;
    };

    function allcheck(){
     {% if paginator.has_next is False %}
      alert("You have successfully attempted all questions. Please submit the test.")
     {% endif %}     
    };
    function radioClicked(key){
      console.log(key)
      key_split=key;
      arr=  key_split.split("|")
      arr = arr[2]
      str = arr + "-count"
      document.getElementById(str).style.background = '#9119';
    };

    function radioClicked2(value,key){
      sessionStorage.setItem(value,key.value)
      key.setAttribute("id",value)    
      radioClicked(key.value); 
    };
    

    function answerChange(){
      hours=document.getElementById('hours').value; 
      minutes=document.getElementById('minutes').value;
      seconds= document.getElementById('seconds').value;
      sessionStorage.setItem("hours",hours)
      sessionStorage.setItem("minutes",minutes)
      sessionStorage.setItem("seconds",seconds)      
      return false;
    };

    
    var downloadTimer = setInterval(function(){
      if(seconds>0){
        seconds--;
      }
      else if(minutes>0){
        minutes--;
        seconds=60
      }
      else if(hours>0){
        hours--;
        minutes=60;
        seconds=60;
      }
     document.getElementById("hours").value = hours;
     document.getElementById("minutes").value = minutes;
     document.getElementById("seconds").value =seconds;
    }, 1000);

     var editor = CodeMirror.fromTextArea(document.querySelector('#code'), {
      lineNumbers: true,
      mode:  "java",
      theme: 'duotone-light',
    });  

  /* (function() {
    var editor = CodeMirror.fromTextArea(document.querySelector('#code'), {
      lineNumbers: true,
      mode:  "java",
      theme: 'duotone-light',
    });   
  })();
*/
 $("#runajax").click(function(){
  que_id = this.name;
  url = "http://127.0.0.1:8000/candidate/hello/"+que_id;
  code = editor.getValue()
  $.ajax({
    type : "GET",
    url : url,
    dataType :"text",
    csrfmiddlewaretoken: '{{ csrf_token }}',
    data:{
      "code" : code,
    },
    success : function(data){
      $("#output").val(data);
      console.log(data);

    },
    failure: function(data) { 
        console.log("Got error");
        },
        error: function(xhr,status,error) { 
        console.log(xhr.responseText + " error  "+error);
        }
  });
   return false;
 });
</script>
 

{% endblock %}
  